/***********Sidebar***************/

#sidebar-wrapper {
    z-index: 2;
    position: fixed;
    width: 0;
    height: 100vh;
    overflow-x: hidden;
    background-color: #2C3E50;
    opacity: 0.9;
}

/******Main content*******/
#page-content-wrapper{
    width: 100%;
    position: absolute;
    padding: 15px;
}

/*******change the side bar to display it******/
.toggled #sidebar-wrapper{
    width: 250px;
}

.toggled #page-content-wrapper {
    padding-left: 250px;
}


/****Sidebar Styling*****/
.sidebar-nav{
    padding: 0;
    list-style: none;
}

.sidebar-nav li{
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a{
    display: block;
    text-decoration: none;
    color: #ddd;
}

.sidebar-nav li a:hover{
    background-color: #16A085;
}

img.header-logo{
    width: 40px;
    height: 40px;
}

a#menu-toggle {
    font-size: 25px;
    margin-left: 20px;
}

/* **************************************
  ***************************************
images Slider
  ***************************************
  ***************************************
*/

#game-offers img {
    height: 400px;
}

.image-content {
    height: 240px;
    padding: 0 0 15px 0;
}

.image-content h3 {
    font-size: 14px;
    font-weight: 400;
}

.image-content button {
    padding: 5px;
    border-radius: 10px;
}

.image-content button:hover {
    transform: scale(1.1);
}

.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 220px;
    padding: 30px;
}

/*end of image slider*/

/*
 ******************************************
premier-games
*******************************************
*******************************************
*/

#premier-games {
    padding: 40px;
}

.premier-games-image {
    padding: 15px;
}

.premier-games-image img {
    height: 290px;
}

.overlay1 {
    background-color: rgba(0, 0, 0, 0.7);
    width: 95%;
    height: 105px;
    color: #fff;
    padding: 15px;
    line-height: 2;
    margin: auto;
    position: absolute;
    top: 200px;
}

.overlay1 h3 {
    margin: 0px;
}

.overlay1 h4 {
    margin: 0px;
    font-size: 17px;
    line-height: 2;
}

/*end of premier-games*/

/*******************************************
 *******************************************

onsale-games action game
*******************************************
*/

#onsale-games {
    height: 500px;
}

#action-games {
    height: 450px;
}

.card-height {
    height: 380px;
}

.card-sale-title {
    padding: 10px;
    height: 80px;
    font-size: 15px;
    font-weight: 600;
}

.card-height img {
    height: 220px;
    width: 100%;
}

.card-height img:hover {
    transform: scale(1.1);
}

.card-text {
    padding-left: 10px;
}

/*end onsale-games*/